@font-face {
    font-family: "Barlow";
    src: url("../Fonts/Barlow-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../Fonts/Barlow-ExtraBold.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../Fonts/Barlow-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../Fonts/BebasNeue/BebasNeue-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Barlow;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 4em;
}

.subtitle-list {
    justify-content: center;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.subtitle-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #eddbc7;
    font-weight: bold;
    font-size: 13px;
}

.hero-section {
    background-image: url("../images/hero-desk.jpg");
    background-size: cover;
    background-position: center;
    width: 100wh;
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.consultation-button {
    background-color: #b5522b;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.title, .hero-button {
    justify-content: center;
    display: flex;
}

.subtitle-list #divisionMarker::after {
    content: " | ";
    font-weight: bolder;
    color: #b5522b;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.hero-button a, .title {
    color: #fff;
}

.title h1 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.hero-content {
    padding-top: 4em;
}

.client-testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#leftSection {
    background-color: #193d39;
}

#rightSection {
    background-color: #eddbc7;
    text-align: center;
}

.split-section {
    list-style: none;
}

.split-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.split-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    border-left: 2px solid #e7a147;
    margin-bottom: 5em;
    padding-left: 1em;
}

.split-number {
    padding-right: 1em;
    width: 4em;
}

ul.split-section {
    padding-left: 0;
    padding: 100px;
}

.number {
    position: relative;
    margin-top: -20%;
    color: #b5522b;
}

.split-content, .split-content p {
    display: block;
}

.number-title {
    margin-top: 0;
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 0px;
}

div.client-reviews.slick-initialized.slick-slider {
    display: grid;
}

button.slick-prev, button.slick-next {
    display: none !important;
}

.number-text {
    color: #eddbc7;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
}

#textLine {
    margin: 0;
}

#testimonialTitle {
    font-size: 35px;
    margin: 0;
    color: #b5522b;
}

.testimonial-content {
    padding: 100px;
}

#textLine {
    font-weight: normal;
    color: #e7a147;
}

.star-image {
    display: inline-block !important;
    width: 60%;
}

.review-text {
    font-weight: normal;
    font-size: 18px;
}

.client-name {
    color: #b5522b;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
    }
    ul.split-section, .testimonial-content {
        padding: 50px;
    }
    .hero-section {
        background-image: url("../images/hero-mob.jpg");
        height: auto;
        display: block;
    }
    .title h1 {
        font-size: 2em;
    }
    .subtitle-list a {
        font-size: 8px;
    }
    .subtitle-list #divisionMarker::after {
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 5px;
    }
    .consultation-button {
        font-size: 11px;
        padding: 10px 20px;
    }
}